// 颜色定义规范
$color-background = #fafafa
$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background = #333
$color-dialog-background = #666
$color-theme = #1fcab3
$color-theme-d = #1dbfa9
$color-sub-theme = #d93f30
$color-text = #3e3e3e
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)

$color-table-bg = #eee
$color-table-bg-d = #ddd

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
